<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}

        <link rel="stylesheet" href="{% static 'css/reg1.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="reg1.css"> 
    <title>Register</title>
    <style>
            body{
                text-align: inherit;
                background-color: azure;  
                color: rgb(20, 48, 75)  ;
            }
            .jumbotron{
                background-color: azure;
            }
            .lead{
                font-family: 'Monotype Corsiva';
            }
            .display-2{
                -webkit-text-fill-color: blueviolet;
                font-family: 'Castellar';
            }
    </style>
</head>
<body>
    
    {% load crispy_forms_tags %}
        <div class="jumbotron">
                <h1 class="display-2"><strong>Stock Check</strong></h1>
                <p class="lead">Changing lifetime</p>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                        <b><u>   JOIN TODAY</u></b>
                        </legend>
                        <br/>
                        {{ form|crispy }}
                    </fieldset>
                    <button type="submit" class="btn btn-primary">SIGN UP</button>
                </form>
                <br/>
                 <div class="border-top pt-3" >
                     <small class="text-muted"> <a class="="ml-2" href="{% url 'login' %}">Have a Account?</a> </small>
                 </div>      
            </div> 
            <marquee textcolor="blueviolet">HACKHOLICS</marquee>           
</body>
</html>

    